<div class="row" ng-init="requestCtrl.pendingEventList();" >
        <div style="margin-top: 25px; margin-left: 25px;">
            <h5>New Event Requests</h5>
        </div>
        <br /> <hr />

        <div style="margin-left: 25px; margin-bottom: 250px;">

            <div class="card hoverable" style="width: 1300px;" ng-repeat="event in requestCtrl.pendingEvents">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 ">{{event.name}}</span>
                    <p style="font-size: 13px;">Organised by {{event.username}} | {{event.postDate | date: short}}</p><br>
                    <p>{{event.description}}</p>
                    <br>
                    <div class="row">
                    <div class="col m6">
                        <p><b>Venue</b></p>
                        <p>{{event.venue}}</p>
                    </div>
                    <div class="col m6">
                        <p><b>Start Date</b> {{event.startDate | date: short}}</p>
                        <p><b>End Date</b> {{event.endDate | date: short}}</p>
                    </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>