body {
    font-family: 'Merriweather', serif;
}
#register {
    position: right;
}
#panel {
     width: 450px;
}
#role {
    margin-top: 10px;
}
#rolelabel {
    font-size: 1.2rem;
}
input:not([type]), input[type=text], 
input[type=password], input[type=email], 
input[type=url], input[type=time], 
input[type=date], input[type=datetime], 
input[type=datetime-local], input[type=tel], 
input[type=number], input[type=search], 
textarea.materialize-textarea {
    margin-bottom: 10px;
}
.row {
    display: inline;
}
.brand-logo {
    margin-left: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;

}
.input-field input[type=search]:focus {
    background-color: transparent;
    color: #fff;
}
.input-field input[type=search]:focus+label i{
    color: #fff;
}
.input-field input[type=search]:focus ~ .material-icons {
    color: #fff;
}
::-webkit-input-placeholder {
    color: #fff;
}
.help-block {
    font-size: 12px;
    display: inline;
    color: red
}
#toast-container {
    top: auto;
    right: auto;
    bottom: 10%;
    left: 45%;
    max-width: 86%;
}

input[type=text].invalid,
input[type=password].invalid,
input[type=password]:focus.invalid {

    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

input .ng-dirty .ng-invalid{
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

/*span.badge.new:after {
    content: "";
}*/
