<div class="row">
  <div class="col m9" >



    <!-- Search bar comes here -->
    <div  style="width: 900px; margin-left: 50px">
      <form>
        <div class="input-field item-search">
          <input id="search" type="search" required style="display: inline" placeholder="Search for blogs, forums, events and jobs">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons" >close</i>
        </div>
      </form>
    </div>


<!-- Main content starts here -->
<div class="card-panel hoverable" style="width: 900px; margin-top: 25px; margin-left: 50px;">
<div class="row">
    <div class="col s12">
    <!--Tab heads are here-->
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#blogs">Blogs</a></li>
        <li class="tab col s3"><a href="#forums">Forums</a></li>
        <li class="tab col s3"><a href="#jobs">Jobs</a></li>
        <li class="tab col s3"><a href="#events">Events</a></li>
      </ul>
    </div>

    <!-- All blogs will come here -->
    <div id="blogs" class="col s12" style="margin-top: 10px;">

      <div class="row" ng-repeat="blogs in userCtrl.bloglist | orderBy : '-noOfViews'">
        <div class="col s12 m7">
          <div class="card hoverable" style="width: 800px;">
            <span class="card-title" style="margin-left: 10px;"><a href="#!/blog/{{blogs.id}}" style=" color: rgba(0, 0, 0, 0.87);">{{blogs.name}}</a></span>
            <div class="card-content">
              <p class="truncate">{{blogs.description}}</p>
            </div>
            <div class="card-action">
                    <a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views">Views {{blogs.noOfViews}}</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes">Likes {{blogs.noOfLikes}}</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments">Comments {{blogs.noOfComments}}</a>
                    
            </div>
          </div>
        </div>
      </div>

      <a href="#!/blogs/all" class="center-align">View All</a>
    </div>
    
    <!-- All forums will come here -->
    <div id="forums" class="col s12">   

       <div class="row">
                <div class="col s12 m7">
                    <div class="card hoverable" style="width: 800px;" ng-repeat="forums in userCtrl.forums | orderBy : 'id' : reverse">
                        <span class="card-title" style="margin-left: 10px;"><a ng-href="#!/forum/{{forums.id}}" style=" color: rgba(0, 0, 0, 0.87);">{{forums.name}}</a></span>
                        <div class="card-content">
                        <p>{{forums.description}}</p>
                        </div>
                        <div class="card-action">
                        <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Join Forum"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div> 
      
      </div>
    
    <!-- All jobs will come here -->
    <div id="jobs" class="col s12">
            
            <div class="card hoverable" style="width: inherit" ng-repeat="job in userCtrl.joblist">
            
              <div class="card-content">
                <h5><b>{{job.companyName}}</b></h5>
                <h6>{{job.subTitle}}</h6>
                <b>About The Company</b>
                <p>{{job.about}}</p>
                <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="APPLY"><i class="material-icons">add</i></a>
              </div>
              
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" ng-href="#job{{job.id + 1}}">JOB PROFILE</a></li>
                  <li class="tab"><a  ng-href="#job{{job.id + 2}}">QUALIFICATION</a></li>
                  <li class="tab"><a ng-href="#job{{job.id + 3}}">CONTACT INFO</a></li>
                </ul>
              </div>

              <div class="card-content grey lighten-4">
                <div id="job{{job.id + 1}}">{{job.jobProfile}}</div>
                <div id="job{{job.id + 2}}">{{job.qualification}}</div>
                <div id="job{{job.id + 3}}">{{job.contactInfo}}</div>
              </div>
          
          </div>
        
          <a href="#!/jobs/list" class="center-align">View All</a>
      </div>
      
      <!-- All events will come here -->
      <div id="events" class="col s12">

        <div class="card hoverable" style="width: inherit;" ng-repeat="event in userCtrl.eventlist">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 ">{{event.name}}</span>
                    <p style="font-size: 13px;">Organised by {{event.username}} | {{event.postDate | date: short}}</p><br>
                    <p>{{event.description}}</p>
                    <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="JOIN EVENT"><i class="material-icons">add</i></a>
                    <br>
                    <div class="row">
                    <div class="col m6">
                        <p><b>Venue</b></p>
                        <p>{{event.venue}}</p>
                    </div>
                    <div class="col m6">
                        <p><b>Start Date</b> {{event.startDate | date: short}}</p>
                        <p><b>End Date</b> {{event.endDate | date: short}}</p>
                    </div>
                    </div>
                </div>
            </div>

        <a href="#!/events/list" class="center-align">View All</a>
      </div>
      
  </div>
  
</div>

    
  </div>

  

  <div class="col m3">
        <div ng-include="'app/shared/rightSide.html'"></div>
    </div>
            
  </div>
</div>