<div class="row">
        <div style="margin-top: 25px; margin-left: 25px;">
            <h5>New Job Requests</h5>
        </div>
        <br /> <br />

        <div style="margin-left: 25px; margin-bottom: 75px;">
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Job Title</th>
                    <th data-field="name">Created By</th>
                    <th data-field="postDate">Created On</th>
                    <th data-field="status">Status</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Job Name 1</td>
                        <td>Avadhoot</td>
                        <td>March 20, 2017</td>
                        <td> 
                            <div class="switch">
                            <label>
                            Disable
                            <input type="checkbox">
                            <span class="lever"></span>
                            Active
                            </label>
                            </div>
                        </td>
                    </tr>
                <tr>
                        <td>Job Name 1</td>
                        <td>Avadhoot</td>
                        <td>March 20, 2017</td>
                        <td> 
                            <div class="switch">
                            <label>
                            Disable
                            <input type="checkbox">
                            <span class="lever"></span>
                            Active
                            </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Job Name 1</td>
                        <td>Avadhoot</td>
                        <td>March 20, 2017</td>
                        <td> 
                            <div class="switch">
                            <label>
                            Disable
                            <input type="checkbox">
                            <span class="lever"></span>
                            Active
                            </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>