<!-- Navbar login form will come here -->
<div>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo">CodeHub</a>
    </div>
  </nav>




  <!-- Login form starts here-->

  <div class="row" style="margin-top: 20px;">
    <div class="col s7">
      <div class="card-panel hoverable" style="width: 500px; margin-top: 100px; margin-left: 50px;">

        <form id="login">
          <div class="center-align ">
            <h4 style="color:#4db6ac">Log In</h4>
          </div>

          <!--Username will be asks to enter here-->
          <div class="row">
            <div class="input-field">
              <input id="username" type="text" />
              <label for "username">Username</label>
            </div>
          </div>

          <!--Password will be asks to enter here-->
          <div class="row">
            <div class="input-field">
              <input id="password" type="password">
              <label for "password">Password</label>
            </div>
          </div>

          <!--Login button is here-->
          <div class="row">
            <div class="input-field center-align">
              <a href="#!user" class="btn teal lighten-2 ">Log In</a>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="col s5">
      <!-- Registeration form starts here -->
      <div id="panel" class="card-panel hoverable">
        <form id="register" ng-submit="authCtrl.register() && register.$valid">
          <input type="hidden" ng-model="authCtrl.client.id" />
          <div style="margin-left: 25px">

            <!--//username will come here-->
            <div class="row">
              <div class="input-field ">
                <input id="reg_username" name="reg_username" type="text" class="validate" ng-model="authCtrl.client.username" data-length="10" ng-blur="authCtrl.checkUsername()">
                <label for="reg_username">Username</label>
                <div class="invalid-data" ng-show="register.reg_username.$dirty">
                  <span>test</span>
                  <span ng-show="register.reg_username.$invalid && !authCtrl.usernameExist">Please select a username</span>
                  <span ng-show="authCtrl.checkUsername">Please select other username</span>

                </div>
              </div>
            </div>

            <!--//firstname will come here-->
            <div class="row">
              <div class="input-field">
                <input id="first_name" type="text" class="validate" ng-model="authCtrl.client.firstname" data-length="25">
                <label for="first_name">First Name</label>
              </div>
            </div>

            <!--//lastname will come here-->
            <div class="row">
              <div class="input-field">
                <input id="last_name" type="text" class="validate" ng-model="authCtrl.client.lastname" data-length="25">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <!--//Password will come here-->
            <div class="row">
              <div class="input-field">
                <input id="reg_password" type="password" class="validate" ng-model="authCtrl.client.password" data-length="10">
                <label for="reg_password">Password</label>
              </div>
            </div>

            <!--//Password will be ask to confirm here-->
            <div class="row">
              <div class="input-field">
                <input id="confirm_password" type="password" class="validate" ng-model="authCtrl.client.confirmPassword" data-length="10">
                <label for="confirm_password">Re-enter Password</label>
              </div>
            </div>

            <!--//Email will come here-->
            <div class="row">
              <div class="input-field">
                <input id="email" type="email" class="validate" ng-model="authCtrl.client.emailId" data-length="50">
                <label for="email">Email</label>
                <div class="invalid-data" ng-show="register.email.$dirty">
                 <span ng-show="register.email.$invalid">Please enter valid email id!</span>
              </div>
            </div>

            <!--//Birthdate will come here-->
            <div class="row">
              <div class="input-field">
                <input id="birthDate" type="text" required class="datepicker" ng-model="authCtrl.client.birthDate" name="birthDate">
                <label for="birthDate">Birthdate</label>
              </div>
            </div>

             <!--Gender will come here-->
            <div class="row">
              <div class="input-field">
                <select name="gender" id="gender" ng-model="authCtrl.client.gender" ng-required="true">
                  <option value="" disabled selected>Choose a gender</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
                <label for="gender">Gender</label>
              </div>
            </div>

            <div class="row">
              <div class=" col s5">
                <input type="submit" class="waves-effect waves-light btn-large btn tooltipped" data-position="left" data-delay="50" data-tooltip="User will be able to use the site only after admin's approval!'">
              </div>

              <div class="col s7">
                <small class="center-align">By Registering you agree with our terms and conditions</small>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>