<div class="row" ng-init="forCtrl.fetchForumCategories()">
    <div class="col m9">
        <div style="margin-bottom: 50px;">
            <h4>Forum categories</h4>

            <table class="bordered">
            <thead>
            <tr>
                <th data-field="id">CATEGORY NAME</th>
                <th data-field="name">TOPICS</th>
                <th data-field="price">POSTS</th>
            </tr>
            </thead>

            <tbody>
                    <tr ng-repeat="forumCategory in forCtrl.forumCategories | orderBy : 'id' : reverse" >
                        <td>
                        <b  style="font-size: 16px"><a href="#!/forum/topics/list" style="color: rgba(0, 0, 0, 0.87);">{{forumCategory.name}}</a></b>
                        <p style="font-size: 12px">{{forumCategory.description}}</p>
                        </td>
                        <td>{{forumCategory.noOfTopics}}</td>
                        <td>{{forumCategory.noOfPosts}}</td>
                    </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col m3">
        <div ng-include="'app/shared/rightSide.html'"></div>

        <div style="margin: 25px auto 50px auto; ">
            <button data-target="category" class="waves-effect waves-light btn-large"><i class="material-icons right">playlist_add</i>CREATE CATEGORY</a>
        </div>

         <div id="category" class="modal">
            <div class="modal-content">
              <h4>Create New Forum Category</h4>
               <div class="row">
                    <form id="newCategory" name="newCategory" ng-submit="forCtrl.addCategory()" class="col s12" style="padding-bottom: 40px;">
                    <input type="hidden" ng-model="forCtrl.ForumCategory.id" />

                        <!--Category name will come here-->
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="name" type="text" class="validate" data-length="50" ng-model="forCtrl.ForumCategory.name">
                            <label for="title">Category Name</label>
                            </div>
                        </div>

                        <!--Category description will come here-->
                         <div class="row" >
                              <div class="input-field col s12">
                                  <textarea id="description" class="materialize-textarea" data-length="120" ng-model="forCtrl.ForumCategory.description"></textarea>
                                  <label for="description">Category Description</label>
                              </div> 
                        </div>

                        <!--Submit button will come here-->
                         <div class="row">
                            <button type="submit" class="waves-effect waves-light btn-large" style="margin-top: 10px; left: 10px;">Create</button>
                        </div>

                    </form>
               </div>
            </div>
         </div>
    </div>
</div>
