<div class="row" ng-init="forCtrl.viewForum()">
    <div class="col m9" style="margin-bottom: 200px;">
        
         <div class="col s12" style="margin-top: 25px;">
            <a href="#!/user" class="breadcrumb">Home</a>
            <a href="#!/forum/list" class="breadcrumb">Forum List</a>
            <a href="#!/forum/topic" class="breadcrumb">Forum</a>
        </div>
        
        <div class="card hoverable" style="margin-top: 75px;">
         <div style=" padding-top: 40px; padding-bottom: 40px;">
             <div class="row">
                 <div class="col m3" style="margin-top: 20px">
                    <img src="assets/img/noDp.png" alt="" class="circle" width="150px;">
                    <p>Started by: {{forCtrl.singleForum.userName}}</p>
                 </div>
                <div class="col m9">
                    <div class="row">
                        <div class="col m8">
                            <h4>{{forCtrl.singleForum.name}}</h4>
                        </div>
                        <div class="col m4" ng-if=" ((user.id != forCtrl.singleForum.userId) && !forCtrl.isParticipant)">
                            <a class="waves-effect waves-light btn" ng-click="forCtrl.joinRequest()"><i class="material-icons right">add</i>JOIN FORUM</a>
                        </div>
                    </div>
                    <p>Posted on: {{forCtrl.singleForum.postDate | date: short}}</p>
                    <p>{{forCtrl.singleForum.description}}</p>
                    <a ng-if= "forCtrl.isParticipant && forCtrl.isApproved" class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Reply To This Thread"><i class="material-icons">reply</i></a>
                </div>
             </div>
         </div>
        </div>
        <!-- If no posts are available -->
        <div ng-if="((forCtrl.singleForum.noOfPosts == 0) && forCtrl.isApproved)">
             <div class="card hoverable" style="height: 200px;">
                <h3 style="padding-top: 75px; padding-left: 250px;">No Posts Yet!</h3>
           </div>
        </div>

        <div ng-if="!forCtrl.isApproved">
            <div class="card hoverable" style="background-color: #ff0000">
                    <span style="color: #fff; padding-left: 25px;">You are not a participant of this thread. Join the forum to post and to view other's post</span>
            </div>
        </div>

        <!-- If posts are available -->
        <div ng-if="(forCtrl.isApproved) && forCtrl.singleForum.noOfPosts != 0">
            <div class="card hoverable">
            <div style=" padding-top: 40px; padding-bottom: 40px;">
                <div class="row">
                    <div class="col m3" style="margin-top: 20px">
                        <img src="assets/img/noDp.png" alt="" class="circle" width="150px;">
                        <p>Started by: {{user.username}}</p>
                    </div>
                    <div class="col m9">
                        <h4>POST 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
                            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede 
                            justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus 
                            ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis 
                            pretium. Integer tincidunt. </p>
                    </div>
                </div>
            </div>
            </div>
        </div>

       
    </div>
    <div class="col m3">
        <div ng-include="'app/shared/rightSide.html'"></div>
    </div>
</div>