<div style="margin-top: 50px; padding-left: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col m9 card hoverable" >
            <h3>New Topic</h3>
            

            <div class="row">
                <form class="col s12" style="padding-bottom: 40px;">

                    <div class="row">
                        <div class="input-field col s12">
                        <input id="title" type="text" class="validate" data-length="20">
                        <label for="title">Topic Title</label>
                        </div>
                    </div>

                   <div class="row" >
                        <div class="input-field col s12">
                        <textarea id="content" name="content" class="materialize-textarea" rows="10" cols="80">
                        </textarea>
                        <!--<label for="content">Blog Content</label>-->
                        </div>
                    </div>

                    <div class="row">
                        <button type="submit" class="waves-effect waves-light btn-large" style="margin-top: 10px; left: 10px;">Publish</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col m3">
            <div ng-include="'app/shared/rightSide.html'"></div>

        </div>
    </div>
</div>