<div class="row">
    <div class="col m9">

         <div class="col s12" style="margin-top: 25px;">
            <a href="#!/user" class="breadcrumb">Home</a>
            <a href="#!/forum/topics/list" class="breadcrumb">Category</a>
        </div>

        <div class="card hoverable" style="margin-top: 75px;">
            <div style="margin-left: 20px; padding-top: 40px;">
                <h4>Forum Category Name</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="row">
                     <div class="col m6">
                        <p>Number of Topics: 4000</p>
                     </div>
                     <div class="col m6">
                        <p>Number of Posts: 45000</p>
                     </div>
                </div>
                <hr>
                 <table class="bordered">
                    <thead>
                        <tr>
                            <th data-field="id">JOIN</th>
                            <th data-field="id">TOPICS</th>
                            <th data-field="name">PARTICIPANTS</th>
                            <th data-field="price">POSTS</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Join Topic">
                                <i class="material-icons">add</i></a></td>
                            <td>
                            <b  style="font-size: 16px"><a href="#!/forum/topic" style="color: rgba(0, 0, 0, 0.87);">TOPIC NAME 1</a></b>
                            <p style="font-size: 12px">If you are new to coding this one is for you</p>
                            </td>
                            <td>4000</td>
                            <td>5000</td>
                        </tr>

                        <tr>
                            <td><a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Join Topic">
                                <i class="material-icons">add</i></a></td>
                            <td>
                            <b  style="font-size: 16px"><a href="#!/forum/topics/list" style="color: rgba(0, 0, 0, 0.87);">TOPIC NAME 1</a></b>
                            <p style="font-size: 12px">If you are new to coding this one is for you</p>
                            </td>
                            <td>4000</td>
                            <td>5000</td>
                        </tr>

                        <tr>
                            <td><a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Join Topic">
                                <i class="material-icons">add</i></a></td>
                            <td>
                            <b  style="font-size: 16px"><a href="#!/forum/topics/list" style="color: rgba(0, 0, 0, 0.87);">TOPIC NAME 1</a></b>
                            <p style="font-size: 12px">If you are new to coding this one is for you</p>
                            </td>
                            <td>4000</td>
                            <td>5000</td>
                        </tr>

                        <tr>
                            <td><a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Join Topic">
                                <i class="material-icons">add</i></a></td>
                            <td>
                            <b  style="font-size: 16px"><a href="#!/forum/topics/list" style="color: rgba(0, 0, 0, 0.87);">TOPIC NAME 1</a></b>
                            <p style="font-size: 12px">If you are new to coding this one is for you</p>
                            </td>
                            <td>4000</td>
                            <td>5000</td>
                        </tr>
                    </tbody>
                </table>

                 <!--Pagination will come here -->
                  <ul class="pagination center-align " style="padding-bottom: 40px;">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" col m3">
         <div ng-include="'app/shared/rightSide.html'"></div>

          <div style="margin: 25px auto 0 auto;">
            <a href="#!/forum/topic/new" class="waves-effect waves-light btn-large"><i class="material-icons right">question_answer</i>NEW TOPIC</a>
        </div>
    </div>
     <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Create New Category</h4>
                 <div class="row">
                    <form class="col s12" style="padding-bottom: 40px;">

                        <div class="row">
                            <div class="input-field col s12">
                            <input id="name" type="text" class="validate" data-length="20">
                            <label for="name">Cateory Name</label>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="input-field col s12">
                                <textarea id="description" class="materialize-textarea" data-length="120"></textarea>
                                <label for="description">Category Description</label>
                            </div>  
                        </div>

                        <div class="row">
                            <button type="submit" class="waves-effect waves-light btn-large" style="margin-top: 10px; left: 10px;">Create</button>
                        </div>

                    </form>
                </div>
                </div>
            </div>
</div>