<div class="row">

    <div class="col m9">

      
      <div class="col s12" style="margin-top: 25px;">
        <a href="#!/user" class="breadcrumb">Home</a>
        <a href="#!//blogs/all" class="breadcrumb">Blog List</a>
      </div>
    

        <div class="card hoverable" style="margin-top: 75px;">

            <div style=" margin-left: 50px; padding-top: 40px; margin-right: 50px;">
                <h4><a href="#!/blog" style="color: rgba(0, 0, 0, 0.87);">Blog Title</a></h4>
                <a href="#">By {{user.username}}</a>
                <p>Posted on March 07, 2017</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                     mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat 
                     massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
                    pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
                    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus 
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
                    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante 
                    tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam 
                    sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. 
                    Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                 <div class="card-action">
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views"><i class="material-icons" style="position: absolute; left: 80px;">remove_red_eye</i>40000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes"><i class="material-icons" style="position: absolute; left: 180px;">thumb_up</i>10000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments"><i class="material-icons" style="position: absolute; left: 270px;">comment</i>2000</a>
                    
                 </div>
            </div>
            <hr>
            <div style=" margin-left: 50px; padding-top: 40px; margin-right: 50px;">
                <h4><a href="#!/blog" style="color: rgba(0, 0, 0, 0.87);">Blog Title</a></h4>
                <a href="#">By {{user.username}}</a>
                <p>Posted on March 07, 2017</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                     mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat 
                     massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
                    pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
                    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus 
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
                    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante 
                    tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam 
                    sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. 
                    Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                 <div class="card-action">
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views"><i class="material-icons" style="position: absolute; left: 80px;">remove_red_eye</i>40000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes"><i class="material-icons" style="position: absolute; left: 180px;">thumb_up</i>10000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments"><i class="material-icons" style="position: absolute; left: 270px;">comment</i>2000</a>
                    
                 </div>
            </div>
             <hr>
            <div style=" margin-left: 50px; padding-top: 40px; margin-right: 50px;">
                <h4><a href="#!/blog" style="color: rgba(0, 0, 0, 0.87);">Blog Title</a></h4>
                <a href="#">By {{user.username}}</a>
                <p>Posted on March 07, 2017</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                     mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat 
                     massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
                    pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
                    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus 
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
                    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante 
                    tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam 
                    sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. 
                    Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                 <div class="card-action">
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views"><i class="material-icons" style="position: absolute; left: 80px;">remove_red_eye</i>40000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes"><i class="material-icons" style="position: absolute; left: 180px;">thumb_up</i>10000</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="sass.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments"><i class="material-icons" style="position: absolute; left: 270px;">comment</i>2000</a>
                    
                 </div>
            </div>

             <!--Pagination will come here -->
                  <ul class="pagination center-align " style="padding-bottom: 40px;">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>

        </div>
    </div>
    <div class="col m3">
         <div ng-include="'app/shared/rightSide.html'"></div>

          <div style="margin: 25px auto 0 auto;">
            <a href="#!/blog/new" class="waves-effect waves-light btn-large"><i class="material-icons right">description</i>CREATE YOUR BLOG</a>
        </div>
    </div>
</div>