<div class="row">
    <div class="col m9">

        <div class="col s12" style="margin-top: 25px;">
            <a href="#!/user" class="breadcrumb">Home</a>
            <a href="#!/blogs/all" class="breadcrumb">Blog List</a>
            <a href="#!/blog" class="breadcrumb">Blog</a>
        </div>

        <div style="margin-left: 20px; padding-top: 20px; padding-bottom: 40px; margin-right: 20px; margin-top: 75px;">


            <h4>Topic Name</h4>
            <p>Author: {{user.username}}</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet
                orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec
                vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
                sodales, augue velit cursus nunc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
                ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam
                quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc</p>
            <p>Posted on: March 07, 2017</p>

            <a class="waves-effect waves-light btn-large" style="margin-bottom: 20px;"><i class="material-icons right">thumb_up</i>Like</a>
            <!--<a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes" 
                        style="color: #4db6ac; font-size: 40px;">Likes <i class="material-icons" 
                        style="font-size: 50px; position: absolute;">thumb_up</i>40,000</a>-->

            <hr>

            <!-- Blog Comments starts here -->
            <div class="row">
                <div class="card hoverable">
                    <div style=" padding-top: 40px; padding-bottom: 40px;">
                        <div class="row">
                            <div class="col m2" style="margin-top: 20px">
                                <img src="assets/img/noDp.png" alt="" class="circle" width="80px;">
                            </div>
                            <div class="col m10">
                                <h4>Comment Title</h4>
                                <p>Commented by {{user.username}}</p>
                            </div>
                        </div>
                        <p style="margin-left: 20px; margin-right: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                        enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                        ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card hoverable">
                    <div style=" padding-top: 40px; padding-bottom: 40px;">
                        <div class="row">
                            <div class="col m2" style="margin-top: 20px">
                                <img src="assets/img/noDp.png" alt="" class="circle" width="80px;">
                            </div>
                            <div class="col m10">
                                <h4>Comment Title</h4>
                                <p>Commented by {{user.username}}</p>
                            </div>
                        </div>
                        <p style="margin-left: 20px; margin-right: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                        enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                        ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card hoverable">
                    <div style=" padding-top: 40px; padding-bottom: 40px;">
                        <div class="row">
                            <div class="col m2" style="margin-top: 20px">
                                <img src="assets/img/noDp.png" alt="" class="circle" width="80px;">
                            </div>
                            <div class="col m10">
                                <h4>Comment Title</h4>
                                <p>Commented by {{user.username}}</p>
                            </div>
                        </div>
                        <p style="margin-left: 20px; margin-right: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                        enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                        ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col m3">
        <div ng-include="'app/shared/rightSide.html'"></div>

        <!-- Likes, views and comments will come here -->
        <div style="border: 5px solid #4db6ac; height: 300px;" >
            <div style="margin-top: 20px;" class="center-align">
                <a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes" 
                        style="color: #4db6ac; font-size: 40px;"><i class="material-icons" 
                        style="font-size: 50px; position: absolute; right: 250px;">thumb_up</i> 40,000</a>
            </div>

            <div style="margin-top: 20px;" class="center-align">
                <a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views" 
                        style="color: #4db6ac; font-size: 40px;"><i class="material-icons" 
                        style="font-size: 50px; position: absolute; right: 250px;">tremove_red_eye</i> 60,000</a>
            </div>

             <div style="margin-top: 20px;" class="center-align">
                <a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments" 
                        style="color: #4db6ac; font-size: 40px;"><i class="material-icons" 
                        style="font-size: 50px; position: absolute; right: 250px;">comment</i> 20,000</a>
            </div>
        </div>

        <div style="margin: 25px auto 0 auto;">
            <a href="#!/blog/new" class="waves-effect waves-light btn-large"><i class="material-icons right">description</i>CREATE YOUR BLOG</a>
        </div>
    </div>
</div>